@model IEnumerable<WebBanNuoc.Models.ChuDe>


<br />
<div class="dropdown a">
    <h4 type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:bold">
        Loại Sản Phẩm &#9776;
    </h4>
    <div class="dropdown-menu b" aria-labelledby="dropdownMenuButton" style="text-align:left;color:lightblue">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("SPTheoLoai", "Nuoc", new { @id = item.MaChuDe })" class="dropdown-item" style="margin-left:5px; text-decoration:none; color:black;">
                &#9830; @item.TenChuDe
                <hr />
            </a>
        }
    </div>
</div>
<br />
<style>
    .a {
        width: 200px;
    }
        .a:hover .b {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
</style>