@{
    ViewBag.Title = "Liên Hệ";
}
<h1 style="color:blue;text-align:center; font-weight:bold">@ViewBag.Title</h1>

<address>
    Email: duytannguyen183@gmail.com <br />
    Address: 284/4D Bãi Sậy P8 Q6 TP.HCM<br />
    <abbr title="Phone">Phone: 0789833428</abbr>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>