
@{
    ViewBag.Title = "DaXacNhanAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; color: darkred; font-weight: bold;">XIN CHÀO QUÝ KHÁCH</h1>
<h2 style="text-align: center">Chào Mừng Đến Với Đại Lý Nước HHTT.</h2>
<strong class="btn btn-default">
    @Html.ActionLink("Về trang chủ", "IndexTC", "Home")
</strong>

