
@{
    ViewBag.Title = "XacnhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; color: brown; font-weight: bold;">Đơn hàng đã được xác nhận</h1>
<h3 style="text-align:center">Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<button class="btn btn-default"; style="margin-left:500px">
    @Html.ActionLink("Về trang chủ", "IndexTC", "Home")
</button>

