
@{
    ViewBag.Title = "XacNhanAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; color: darkred; font-weight: bold;">BẠN CÓ PHẢI LÀ ADMIN ?</h1>
<h2 style="text-align: center">Vui lòng đăng nhập để xác nhận.</h2>
<strong class="btn btn-default ">
    @Html.ActionLink("Về trang chủ", "IndexTC", "Home")
</strong>
